<div class="mt-4">
    <div class="row">
        <div class="col-lg-9">
            <h2>Tên Sản Phẩm: {{sanpham.tenSP}}</h2>
            <img class="card-img-top" src="/images/{{sanpham.image}}" alt="Card image cap" width="350" height="300" >
            <p>Giá Sản Phẩm: {{sanpham.giaSP}}</p>
            <p>Mô Tả sản Phẩm: {{sanpham.motaSP}}</p>
        </div>
    </div>
</div>