<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Trang Chủ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="dropdown">
  <button class="btn dropdown-collapse navbar-dark bg-dark" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: darkgray;">
    Sản Phẩm
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/sanpham">Tất cả sản phẩm </a>
    <a class="dropdown-item" href="/sanpham/khoai-lang">Khoai Lang</a>
    <a class="dropdown-item" href="/sanpham/bi">Bí</a>
    <a class="dropdown-item" href="/sanpham/hanh-tay">Hành Tây</a>
    <a class="dropdown-item" href="/sanpham/khoai-tay">Khoai Tây</a>
    <a class="dropdown-item" href="/sanpham/toi">Tỏi</a>
    <a class="dropdown-item" href="/sanpham/ot">Ớt</a>
  </div>  
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/sanpham">Liên Hệ<span class="sr-only">(current)</span></a>
      </li>
  </div>
</nav>
