
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/quanly/stored">Quản Lý Sản Phẩm</a>
</nav>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/quanly/create">Thêm Sản Phẩm</a>
</nav>
<nav class="navbar navbar-light bg-light">
  <form method="POST" action="/quanly/logout">
    <button class="navbar-brand"> Đăng Xuất</button>
  </form>
</nav>